<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-danger btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Capitã Marvel
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            Carol Susan Jane Danvers é uma super-heroína fictícia que aparece nos quadrinhos americanos publicados pela Marvel Comics. Criado pelo roteirista Roy Thomas e pelo desenhista Gene Colan, Danvers apareceu pela primeira vez como uma oficial da Força Aérea dos Estados Unidos e colega de Mar- Vell, super-herói da raça Kree, em Marvel Super-Heroes.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-danger btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Mulher-Hulk
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            Mulher-Hulk é uma personagem fictícia que aparece nos quadrinhos americanos publicados pela Marvel Comics, criada pelo roteirista Stan Lee e pelo desenhista John Buscema em Savage She-Hulk.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-danger btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Singularidade
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            A origem da Singularidade e seu passado são em grande parte um mistério. Ela apareceu pela primeira vez como um meteorito atravessando o céu e caindo no domínio do Mundo Bélico de Arcádia próximo ao Farol Bishop, onde Nico Minoru estava de luto pelo exílio de sua amiga Miss América para o O Escudo.
        </div>
      </div>
    </div>
  </div>