<div id="bannerExampleCaptions" class="banner slide" data-bs-ride="false">
    <div class="banner-inner">
        <div *ngFor="let item of items; let i = index" [class]="i === 0 ? 'banner-item active' : 'carousel-item'">
            <img [src]="item.imagePath" class="d-block w-100" alt="...">
            <div class="banner-caption d-none d-md-block">
                <h3>{{item.title}}</h3>
                <h5>{{item.description}}</h5>
            </div>
        </div>
    </div>
    <button class="banner-control-prev" type="button" data-bs-target="#bannerlExampleCaptions" data-bs-slide="prev">
        <span class="banner-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="banner-control-next" type="button" data-bs-target="#bannerExampleCaptions" data-bs-slide="next">
        <span class="banner-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>